* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

.button-cart {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #000;
}

.button-cart:hover {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.button-info {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #1098ad;
}

.button-info:hover {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #66d9e8;
  color: #000;
}

.nav-container, .header {
  margin: 0 auto;
}

.bodrad, .cliff-container {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.cursor-change {
  cursor: pointer;
}

.footer-container {
  display: flex;
  height: 50px;
  margin-top: 50px;
  color: #fff;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.125rem;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover, a:active {
  color: red;
}

.stoke-insta-icon {
  stroke: white;
  height: 32px;
}

.current-title {
  width: 90%;
  font-size: 54px;
  margin: 0 auto;
  margin-top: 30px;
}

.current-container {
  width: 90%;
  margin: 50px auto;
  background-color: #f1f3f5;
  padding: 3.125rem;
  border-radius: 50px;
}

.current-text {
  font-size: 26px;
}

.current-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px 600px 600px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 12px;
}

.nav-container, .header {
  margin: 0 auto;
}

.bodrad, .cliff-container {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.cliff-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-image: url(../resources/cliffordDBurton/IMG_4038.jpg);
  background-size: cover;
  background-color: #f1f3f5;
  height: 610px;
  color: #fff;
  border-radius: 100px;
}

.cliff-title {
  margin-top: 100px;
  width: 90%;
  font-size: 54px;
  margin-left: auto;
  margin-right: auto;
}

.cliff-text {
  color: #fff;
  width: 50%;
  padding: 2.5rem;
  font-size: 24px;
}

.hero-container {
  background-image: url(../resources/banners/IMG_4058.JPG);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero-container-merch {
  background-image: url(../resources/banners/IMG_4056.JPG);
  background-size: cover;
  height: 100vh;
}

.merchh-container {
  width: 90%;
  margin: 50px auto;
  background-color: #f1f3f5;
  padding: 3.125rem;
  border-radius: 50px;
}

.merch-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 300px 300px 300px; */
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 12px;
}

.item-filter {
  grid-row-start: span 5;
}

.nav-container, .header {
  margin: 0 auto;
}

.bodrad, .cliff-container {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.hero-container {
  background-image: url(../resources/banners/IMG_4058.JPG);
  /* background-color: aquamarine; */
  background-size: cover;
  height: 100vh;
  position: relative;
  /* color: #fff; */
}

.nav-container {
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.merchandise-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 24px;
  color: #fff;
}

.user-icon {
  width: 40px;
  stroke: #fff;
}

.title-container {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  font-size: 68px;
  /* background-color: violet; */
  transform: translate(-50%, -50%);
  color: #fff;
}

.down-arr {
  stroke: #fff;
  fill: #fff;
  width: 90px;
}

.header, .nav-container {
  margin: 0 auto;
}

.bodrad, .cliff-container {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.carousel {
  /* width:640px; */
  height: 500px !important;
}

.bodrad {
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */