.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
      url(../resources/banners/IMG_4058.JPG);
  background-size: cover;
  height: $hero-height;
  position: relative;
}