@import '../base/placeholders';

.nav-container{
  width: 90%;
  @extend %autoed-margins;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.merchandise-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: map-get($font-sizes, sm);
  color: #fff;
  }
  
  .user-icon{
    width: 40px;
    stroke: #fff;
  }
  
  .title-container {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
  font-size: map-get($font-sizes, xl);
    /* background-color: violet; */
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .down-arr{
    stroke: #fff;
    fill: #fff;
    width: 90px;
  }