@import '../base/functions';
@import '../base/mixins';

.footer-container{
  @include flex-container(space-between, center);
  height: 50px;
  margin-top: 50px;
  color: #fff;
  background-color: black;
  padding: 0 spacing(3.125);
}
 a:link,a:visited{
color: #fff;
text-decoration: none;
 }
 a:hover,a:active{
  color: red;
 }

 .stoke-insta-icon{
  stroke: white;
  height: 32px;
 }