@each $type in $button-types {
  .button-#{$type} {
      padding: 10px 20px;
      border-radius: 5px;
      color: white;
      @if $type == 'cart' {
          background-color: var(--cart-color);
      }

      @if $type == 'info' {
          background-color: var(--info-color);           
      }
  }
  .button-#{$type}:hover {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    @if $type == 'info' {
        background-color: var(--info-hover-color); 
        color: var(--cart-color);
    }
}
}