$primary-color: #f1f3f5;
$secondary-color: #000;
$hero-height: 100vh;
$font-size-large: 54px;
$button-types: ('cart', 'info');
$font-sizes: (
    sm: 24px,
    md: 26px,
    lg: 54px,
    xl: 68px,
);